$main-color:#ffacb7;
$font-color:#6886c5;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $main-color
}

.container {
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    margin: 1em;
    color: $font-color;
    display: flex;

    button {
        cursor: pointer;
        border-radius: 3px;
        margin: auto;
        background-color: #6886c5;
        color: white;
        border: none;
        padding: 10px;

        &:active {}
    }

}

.white {
    background-color: #fff;
}